<ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="DATA_SIMPLE_LINE_CHART" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" legendTitle="" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="SLC_xAxisLabel" [yAxisLabel]="SLC_yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
</ngx-charts-line-chart>
<ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="DATA_SIMPLE_BAR_CHART" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="SBC_xAxisLabel" [yAxisLabel]="SBC_yAxisLabel" (select)="onSelect($event)">
</ngx-charts-bar-vertical-2d>
<ngx-charts-area-chart [view]="view" [scheme]="colorScheme" [results]="DATA_LINE_AREA_CHART" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="SLA_xAxisLabel"
    [yAxisLabel]="SLA_yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
</ngx-charts-area-chart>
<ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="DATA_MULTI_LINE_BAR_CHART" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="MLB_xAxisLabel" [yAxisLabel]="MLB_yAxisLabel" (select)="onSelect($event)">
</ngx-charts-bar-vertical-2d>
<ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="DATA_BIOPOlAR_LINE_CHART" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" legendTitle="" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="BPL_xAxisLabel" [yAxisLabel]="BPL_yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
</ngx-charts-line-chart>
<ngx-charts-bar-vertical-stacked [view]="view" [scheme]="colorScheme" [results]="DATA_STACKED_BAR_CHART" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="STC_xAxisLabel" [yAxisLabel]="STC_yAxisLabel" (select)="onSelect($event)">
</ngx-charts-bar-vertical-stacked>
<ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="DATA_SIMPLE_PIE_CHART" [legend]="showLegend" [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
</ngx-charts-pie-chart>
<ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="DATA_DONUT_CHART" [gradient]="gradient" (select)="onSelect($event)">
</ngx-charts-advanced-pie-chart>